/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    color: #0e0909;
    text-align: center;
    margin-bottom: 20px;
}

#dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Card styles */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    border-radius: 8px;
}

/* Hover effect */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(46, 208, 14, 0.2);
}

/* Button styles */
.btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

/* Background color for cards */
.bg-primary {
    background-color: #007bff !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-success {
    background-color: #28a745 !important;
}
