<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Student Internship</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/mentor.css">
</head>

<body>
    <div class="d-flex">
        <div class="bg-dark text-white p-3 vh-100" style="width: 250px;">
            <h2 class="text-center">Internship System</h2>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"onclick="admProfile()">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"onclick="admMentor()">Mentors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" onclick="admNotice()">Notice</a>
                </li>
                <button onclick="logOut()">Logout</button>
            </ul>
        </div>
        <div class="flex-grow-1 p-4">
            <h1 class="mb-4">Administrator</h1>
            <div id="dashboard" class="row">
                <div class="col-md-4 mb-4">
                    <div class="card text-white bg-primary">
                        <div class="card-body">
                            <a class="btn ttn-light w-100"onclick="admProfile()">Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card text-white bg-warning">
                        <div class="card-body">
                            <a class="btn ttn-light w-100"onclick="admMentor()">Mentors</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card text-white bg-success">
                        <div class="card-body">
                            <a class="btn ttn-light w-100" onclick="admNotice()">Notice</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/"></script>
    <script>
        const admProfile =()=>{
            window.location.href = "Administratorprofile.html";
        }
        const admMentor=()=>{
            window.location.href = "Administratormentors.html";
        }
        const stuIntern=()=>{
            window.location.href = "submit.html";
        }
        const admNotice=()=>{
            window.location.href = "adminNotice.html";
        }
        const logOut=()=>{
            window.location.href="home.html";
        }
    </script>

</body>

</html>